{% layout "template.liquid" %}

{% block content %}
    <div class="container">
        <div class="gallery">
            {% for image in product.images %}
            <img src="{{ image | img_url: '1000x' }}"/>
            {% endfor %}
        </div>
        <div class="info">
            <h1>{{ product.title | capitalize }}</h1>

            <h2><span class="price">${{ product.price | divided_by: 100 }} {% if product.compare_at_price > product.price %}</span><s>${{ product.compare_at_price | divided_by: 100 }}</s>{% endif %}</h2>

            <div>{{ product.description }}</div>

            <div class="options">
                {% for option in product.options %}
                <label>{{ option.name }}:</label>
                {% endfor %}

                <select>
                    {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                        {{ variant.title }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" id="addToCart">Add To Cart</button>
                <h3 class="success-message">Added to Cart!</h3>
            </div>
        </div>
    </div>
{% endblock %}